---
import { Icon } from "astro-icon/components";
const { head, id, icon } = Astro.props;
---

<li role="presentation">
  <button
    class="inline-block p-4 border-l-2 lg:border-b-2 lg:border-l-0"
    id={`${id}-tab`}
    data-tabs-target={`#${id}`}
    type="button"
    role="tab"
    aria-controls={id}
    aria-selected="false"
    ><span> <Icon name={`mdi:${icon}`} class="inline text-xl" /> {head}</span>
  </button>
</li>
