---
import { Image } from "astro:assets";
import Pop from "@/components/helper/popover.astro";
const { name, title, img, align, des, id } = Astro.props;
---

<style>
  .man:hover {
    transform: scale(0.9);
    border-width: 10px;
    transition:
      transform 500ms ease-in,
      border-width 500ms ease-in;
  }
</style>
<div class="basis-1/2 flex flex-row justify-center items-center lg:flex-col">
  <div
    class="ml-4 basis-1/2 lg:basis-auto grid place-content-center relative"
    data-popover-target={id}
    data-popover-placement={"right" /*align*/}
    data-popover-trigger="hover"
    data-popover-offset="10"
  >
    <Pop id={id} poptext={des} />
    <Image
      src={img}
      alt=""
      class="man w-36 h-36 md:w-52 md:h-52 object-cover rounded-3xl border-4 border-slate-300 z-10"
    />
  </div>
  <div class="text-center basis-1/2 lg:basis-auto p-1">
    <h2 class="font-bold text-lg text-slate-800 lg:text-2xl">{name}</h2>
    <h3 class="font-semibold text-sm text-slate-600 lg:text-xl">{title}</h3>
  </div>
</div>
