---
import Blop from "@/components/helper/team_blop.astro";

import zohir from "@/assets/team/zohir.webp";
const zohirN = "Md. Zohir Hossen";
const zohirT = "Accounts & Finance Officer";
const zohirD =
  "Performs a variety of accounting duties involved in preparing, maintaining, analyzing, verifying and reconciling financial transactions, statements, records and reports. Assists during annual audit. Doing the year end closing and any other task assigned by management & ensure that all financial reporting is completed on time and submitted to donors. Assisting Director Finance & Operation from the beginning of ISC with commitment.";

import anik from "@/assets/team/anik.webp";
const anikN = "Anik Asad";
const anikT = "~~Executive Director~~ (Legacy)";
const anikD =
  "An Anthropologist and Human Rights Activist. Over the decades working for the advancement of the most marginalized people in Bangladesh. Experienced in senior management as a team leader in different national & international organizations such as HEKS, Oxfam, Tere Des Home (Netherlands), ILO, UNFPA, CCDB. Now leading ISC as founder ED and as team leader.";

import hasnat from "@/assets/team/hasnat.webp";
const hasnatN = "Abul Hasnat";
const hasnatT = "Executive Director";
const hasnatD =
  "Expert in the field of Finance, Accounts & Administration which requires skills like innovative thinking and problem solving. Working with National & International NGOs and Government projects since decades. Simultaneously his experts go to programme section as well with finance, accounts and human resource. Now leading ISC as Director Finance & Operation with fair accountability with utmost responsibility.";

import moni from "@/assets/team/moni.webp";
const moniN = "Sabikun Nahar";
const moniT = " Monitoring and Documentation Officer";
const moniD =
  "Champion in documentation and monitoring with several years of experiences in the same field. Capacity proves her skill in designing a M & E systems for the office and project, data collection systems and approaches, data collection & analysis, highlighting potential issues, prepare monthly reports, donor reports, situation report and so forth. From the very beginning with ISC she is assisting the programme department with devotion.";

import bari from "@/assets/team/bari.webp";
const bariN = "D.M Abdul Bari";
const bariT = "Chairperson";
const bariD =
  "Advocate and Founder President of Ekushe Parishod, Naogaon, Mr. Bari is a renowned social reformer in Naogaon district restlessly working for the development of marginalized people. He has formed many social organizations in Naogaon.";

import sidd from "@/assets/team/sid.webp";
const siddN = "Dr. Siddiqur Rahman";
const siddT = "Treasurer";
const siddD =
  "Professor of Anthropology at Jahangirnagar University, Mr. Rahman is quite famous researcher in the field of Anthropology. He has published several international journals on anthropological research and leading many projects on indigenous people and climate change.";
---

<h1 class="py-12">Meet Our Team</h1>
<section
  class="pb-12 flex jsutify-around flex-wrap gap-y-8 flex-col lg:flex-row"
>
  <Blop
    name={bariN}
    img={bari}
    title={bariT}
    align="right"
    des={bariD}
    id="bari"
  />

  <Blop
    name={hasnatN}
    img={hasnat}
    title={hasnatT}
    align="left"
    des={hasnatD}
    id="hasnat"
  />

  <Blop
    name={siddN}
    img={sidd}
    title={siddT}
    align="left"
    des={siddD}
    id="sidd"
  />

  <!-- <Blop
    name={anikN}
    img={anik}
    title={anikT}
    align="right"
    des={anikD}
    id="anik"
  /> -->

  <Blop
    name={moniN}
    img={moni}
    title={moniT}
    align="right"
    des={moniD}
    id="moni"
  />

  <Blop
    name={zohirN}
    img={zohir}
    title={zohirT}
    align="left"
    des={zohirD}
    id="zohir"
  />
</section>
