---
import TabHead from "@/components/tabs_header.astro";
import TabBody from "@/components/tabs_body.astro";
import TabsBody from "@/components/tabs_body.astro";

const ids = ["vision", "mission", "objectives"];
---

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
  >
    <TabHead head="Vision" id={ids[0]} />
    <TabHead head="Mission" id={ids[1]} />
    <TabHead head="Objective" id={ids[2]} />
  </ul>
</div>
<div id="default-tab-content">
  <TabsBody id={ids[0]} para="These are our visions" />
  <TabsBody id={ids[1]} para="These are our missions" />
  <TabsBody id={ids[2]} para="These are our objectives" />
</div>
