---
import "@fontsource-variable/inter";
import "flowbite";
import Footer from "@/components/Sections/Footer.astro";
import Header from "@/components/Sections/Header.astro";
import "@/styles/index.css";

const site = Astro.site.toString().slice(0, -1);
const base = import.meta.env.BASE_URL;
// const socialMetaImage = new URL("logo.jpeg", Astro.site);
const socialMetaImage = site + base + "/" + "logo.webp";
const { pageTitle } = Astro.props;
const SiteDescription =
	"Initiative for Social Change Bangladesh. Working to create a society that values the dignity and freedom of lives on earth";

// to reduce bundle size
// <!-- initialize theme -->
// 	<script is:inline>
// 		const themeSaved = localStorage.getItem("theme");

// 		if (themeSaved) {
// 			document.documentElement.dataset.theme = themeSaved;
// 		} else {
// 			const prefersDark = window.matchMedia(
// 				"(prefers-color-scheme: dark)",
// 			).matches;
// 			document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
// 		}

// 		window
// 			.matchMedia("(prefers-color-scheme: dark)")
// 			.addEventListener("change", (event) => {
// 				if (!localStorage.getItem("theme")) {
// 					document.documentElement.dataset.theme = event.matches
// 						? "dark"
// 						: "light";
// 				}
// 			});
// 	</script>
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={`${base}/favicon.svg`} type="image/svg+xml" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={SiteDescription} />
		<title>{pageTitle}</title>

		<!-- social media -->
		<meta property="og:title" content="ISC-BD" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={SiteDescription} />
		<meta property="og:image" content={socialMetaImage} />
		<meta property="og:url" content={site + base} />
		<meta name="twitter:card" content="summary_large_image" />
		<!-- <script></script> -->
	</head>
	<body class="h-full overflow-x-hidden text-base">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script src="node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
